body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:602px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1012px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  position:absolute;
  left:14px;
  top:17px;
  width:375px;
  height:1012px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:498px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u1216 {
  position:absolute;
  left:14px;
  top:17px;
  width:375px;
  height:48px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(232, 218, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1218 {
  position:absolute;
  left:310px;
  top:32px;
  width:59px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1219 {
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(232, 218, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1220 {
  position:absolute;
  left:218px;
  top:32px;
  width:59px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1221 {
  position:absolute;
  left:2px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1222 {
  position:absolute;
  left:122px;
  top:83px;
  width:159px;
  height:54px;
  font-size:14px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:19px;
  width:155px;
  word-wrap:break-word;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
}
#u1224 {
  position:absolute;
  left:129px;
  top:158px;
  width:145px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
}
#u1225 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u1226 {
  position:absolute;
  left:351px;
  top:74px;
  width:29px;
  height:24px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:202px;
}
#u1228 {
  position:absolute;
  left:24px;
  top:218px;
  width:356px;
  height:201px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:88px;
  width:352px;
  word-wrap:break-word;
}
#u1230_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:141px;
  height:22px;
}
#u1230p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:123px;
  height:2px;
}
#u1230p000_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:144px;
  height:24px;
}
#u1230p001 {
  position:absolute;
  left:-9px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1230p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:40px;
  height:40px;
}
#u1230p002 {
  position:absolute;
  left:108px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1230p002_img {
  position:absolute;
  left:-11px;
  top:-10px;
  width:42px;
  height:40px;
}
#u1230.compound {
  width:0px;
  height:0px;
}
#u1230 {
  position:absolute;
  left:343px;
  top:287px;
  width:121px;
  height:2px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:-7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1232 {
  position:absolute;
  left:470px;
  top:275px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:202px;
}
#u1234 {
  position:absolute;
  left:24px;
  top:439px;
  width:356px;
  height:201px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:88px;
  width:352px;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:202px;
}
#u1236 {
  position:absolute;
  left:24px;
  top:661px;
  width:356px;
  height:201px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:88px;
  width:352px;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:117px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1238 {
  position:absolute;
  left:14px;
  top:1029px;
  width:375px;
  height:117px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1239 {
  position:absolute;
  left:2px;
  top:50px;
  width:371px;
  word-wrap:break-word;
}
